parts
prime
snap/.snapcraft
stage
service/*.out
webserver/webserver
dmx-server/server
dmx-client/client
codeverse-dmx-controller*.snap
codeverse-dmx-controller*tar.bz2
*.sublime-project
*.sublime-workspace
